@font-face {
  font-family: 'Helvetica neue';
  src: url('/fonts/HelveticaNeue.woff2');
}

:root {
  --buttonMain: #0043DA;
  --bgWhite: #FFFFFF;

  --white: #FFFFFF;
  --black: #1B1B1B;

  --textBlack: #1B1B1B;
  --textSecondary: #272727;

  --greyLight: #F5F5F5;
  --grey1: #4F4F4F;
  --grey2: #7E7D7D;
  --grey3: #9B9DA4;
  --grey4: #C0C0C0;
  --grey5: #E2E2E2;
  --grey6: #EDEDED;
  --grey7: #F7F7F7;

  --bgTooltip: #F6EBCB;
  --textTooltip: #4F4F4F;

  --errorIcon: #F34141;
  --successIcon: #4AA242;
  --attentionIcon: #F6CC43;
  --lightIcon: #F6CC43;
  --linkIcon: #006BAB;
  /* --successNotification: #052814; */
  --successNotification: #EBF7EE;
  --errorNotification: #31040F;
  --attentionNotification: #543F00;
  --linkNotififcation: #00304F;
  --lightNotification: #FEF7EA;

  --tooltipColor: #D7E3FF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --buttonPrimary: #FFD966;
    --bgPrimary: #1B1B1B;
    --bgSecondary: #272727;
    --textMain: #FFFFFF;
    --textSecondary: #C0C0C0;
    --bgTooltip: #F6EBCB;
    --textTooltip: #4F4F4F;
    --grey1: #4F4F4F;
    --grey2: #7E7D7D;
    --grey3: #9B9DA4;
    --grey4: #C0C0C0;
    --grey6: #EDEDED;
    --errorIcon: #F34141;
    --successIcon: #4AA242;
    --attentionIcon: #F6CC43;
    --linkIcon: #006BAB;
    --successNotification: #052814;
    --errorNotification: #31040F;
    --attentionNotification: #543F00;
    --linkNotififcation: #00304F;
  }
} */

body {
  color: var(--textBlack);
  background-color: var(--greyLight);
}

* {
  font-family: 'Helvetica neue', sans-serif;
}

.h1 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.h2 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
}

.h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.text10m {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}

.text12m {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.text14r {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.text14m {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.text14b {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

.text16r {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.text16m {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.text16b {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.tagged-text{
  padding-inline: 4px;
  padding-block: 2px;
  border-radius: 4px;
  background-color: var(--greyLight);
  /* color: var(--buttonMain); */
  color: #EB5757;
}